// Tablets and small desktops
$screen-lg-min: 992px;

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: black;
  color: white;
  font-family: Fira Code, monospace;

  &.dark {
    background-color: black;
    color: white;
  }
  &.light {
    background-color: white;
    color: black;
  }
}

main {
  margin: auto;
}

h1 {
  font-size: 15vmin;
  font-weight: 400;
  text-shadow: 1px 0 0;
  margin: 0;
}

h2 {
  font-size: calc(15vmin * 9/17);
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: calc(15vmin * 9/27);
  margin: 1rem 0 1rem 0;
  font-weight: 400;
  font-style: italic;
}

.buttons {
  @include lg {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

a {
  display: block;
  font-size: 5vmin;
  padding: 2vmin;
  border-bottom: 1vmin solid lightgray;
  text-align: center;
  margin: 0;
  margin-top: 3vmin;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  cursor: pointer;
  &:hover {
    border-bottom: .75vmin solid lightgray;
    transform: translateY(.25vmin);
  }
  &:focus {
    outline: none;
    border-bottom: .75vmin solid lightgray;
    transform: translateY(.25vmin);
  }
  &:focus-visible {
    outline: none;
    border-bottom: .5vmin solid lightgray;
    transform: translateY(.5vmin);
  }
  &:active {
    border-bottom: 0vmin solid lightgray;
    transform: translateY(1vmin);
  }
  @include lg {
    font-size: 4vmin;
    padding: 2vmin;
    display: inline-block;
    border-bottom: 1vmin solid lightgray;
    &:hover {
      border-bottom: .75vmin solid lightgray;
      transform: translateY(.25vmin);
    }
    &:focus {
      outline: none;
      border-bottom: .5vmin solid lightgray;
      transform: translateY(.5vmin);
    }
    &:focus-visible {
      outline: none;
      border-bottom: .75vmin solid lightgray;
      transform: translateY(.5vmin);
    }
    &:active {
      border-bottom: 0vmin solid lightgray;
      transform: translateY(1vmin);
    }
  }
}